<?xml version="1.0" encoding="utf-8"?>
<GameInfo>
	<Parameters>
		<!-- GAME MODE -->
		<Row ParameterId="GameMode_HSD" Name="LOC_GAMEMODE_HSD_NAME" Description="LOC_GAMEMODE_HSD_DESCRIPTION" Domain="bool" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" NameArrayConfigurationId="GAMEMODES_ENABLED_NAMES" GroupId="GameModes" SortIndex="100"  SupportsSinglePlayer="1" Visible="1" />
		
		<Row ParameterId="GameMode_COLONIZATION" Name="LOC_GAMEMODE_COLONIZATION_NAME" Description="LOC_GAMEMODE_COLONIZATION_DESCRIPTION" Domain="bool" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_COLONIZATION" NameArrayConfigurationId="GAMEMODES_ENABLED_NAMES" GroupId="GameModes" SortIndex="100"  SupportsSinglePlayer="1" Visible="1" />
		
		<Row ParameterId="GameMode_RAGING_BARBARIANS" Name="LOC_GAMEMODE_RAGING_BARBARIANS_NAME" Description="LOC_GAMEMODE_RAGING_BARBARIANS_DESCRIPTION" Domain="bool" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_RAGING_BARBARIANS" NameArrayConfigurationId="GAMEMODES_ENABLED_NAMES" GroupId="GameModes" SortIndex="100"  SupportsSinglePlayer="1" Visible="1" />
		
		<!-- BASE OPTIONS -->
		<!-- Invisible option to activate mod features. Legacy support for old saves before the game mode option. -->
		<Row ParameterId="HistoricalSpawnDates" Name="LOC_MAP_HISTORICAL_SPAWN_NAME" Description="LOC_MAP_HISTORICAL_SPAWN_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="HistoricalSpawnDates" GroupId="AdvancedOptions" Visible="0" SortIndex="301"/>
		
		<Row ParameterId="HSD_AdvancedOptions" Name="LOC_MAP_HSD_ADVANCED_OPTIONS_NAME" Description="LOC_MAP_HSD_ADVANCED_OPTIONS_DESCRIPTION" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="HSD_AdvancedOptions" GroupId="AdvancedOptions" Visible="1" SortIndex="301"/>
		
		<Row ParameterId="BalanceHSD" Name="LOC_MAP_BALANCE_HSD" Description="LOC_MAP_BALANCE_HSD_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" GroupId="AdvancedOptions" Visible="1" SortIndex="302"/>
		
		<Row ParameterId="FlipZones" Name="LOC_MAP_FLIP_ZONES" Description="LOC_MAP_FLIP_ZONES_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="FlipZones" GroupId="AdvancedOptions" Visible="1" SortIndex="303"/>
		
		<!-- TIMELINE OPTIONS -->
		<Row ParameterId="InputHSD" Name="LOC_HSD_INPUT_NAME" Description="LOC_HSD_INPUT_DESCRIPTION"	Domain="bool" 	DefaultValue="0" 	ConfigurationGroup="Map" 	ConfigurationId="InputHSD" 	GroupId="AdvancedOptions" 	SortIndex="314"/>
		
		<Row ParameterId="SpawnDateTables" Name="LOC_MAP_SPAWN_DATE_TABLES_NAME" Description="" Domain="SpawnDateTables" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="SpawnDateTables" GroupId="AdvancedOptions" Visible="1" SortIndex="311"/>		
		
		<Row ParameterId="HistoricalSpawnEras" Name="LOC_MAP_HISTORICAL_SPAWN_ERA_NAME" Description="LOC_MAP_HISTORICAL_SPAWN_ERA_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="HistoricalSpawnEras" GroupId="AdvancedOptions" Visible="1" SortIndex="312"/>
		
		<Row ParameterId="LiteMode" Name="LOC_MAP_LITE_MODE_NAME" Description="LOC_MAP_LITE_MODE_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="LiteMode" GroupId="AdvancedOptions" Visible="1" SortIndex="313"/>
		
		<!-- UNIT OPTIONS -->
		<Row ParameterId="UnitList" Name="LOC_HSD_UNIT_SPAWN_TYPES_NAME" Description="LOC_HSD_UNIT_SPAWN_TYPES_DESC" Domain="HSD_UnitLists" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="UnitList" GroupId="AdvancedOptions" Visible="1" SortIndex="320"/>	
		
		<Row ParameterId="SpawnUUs" Name="LOC_MAP_UNIQUE_UNITS" Description="LOC_MAP_UNIQUE_UNITS_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="SpawnUUs" GroupId="AdvancedOptions" Visible="1" SortIndex="321"/>	
		
		<!-- BOOST OPTIONS -->
		<Row ParameterId="GrantGPP" Name="LOC_MAP_GRANT_GPP" Description="LOC_MAP_GRANT_GPP_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="GrantGPP" GroupId="AdvancedOptions" Visible="1" SortIndex="322"/>
		
		<Row ParameterId="TechCivicBoost" Name="LOC_MAP_HSD_BOOST" Description="LOC_MAP_HSD_BOOST_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="TechCivicBoost" GroupId="AdvancedOptions" Visible="1" SortIndex="323"/>
		
		<Row ParameterId="EraBuildingForAll" Name="LOC_MAP_ERA_BUILDING" Description="LOC_MAP_ERA_BUILDING_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="EraBuildingForAll" GroupId="AdvancedOptions" Visible="1" SortIndex="324"/>
		
		<Row ParameterId="Comandantes" Name="LOC_MAP_COMANDANTES_INDUSTRIAL_ERA" Description="LOC_MAP_COMANDANTES_INDUSTRIAL_ERA_DESC" Domain="bool" DefaultValue="5" ConfigurationGroup="Map" ConfigurationId="Comandantes" GroupId="AdvancedOptions" Visible="0" SortIndex="325"/>

		<Row ParameterId="SpawnAge" Name="LOC_MAP_SPAWN_AGE" Description="LOC_MAP_SPAWN_AGE_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="SpawnAge" GroupId="AdvancedOptions" Visible="1" SortIndex="326"/>
		
		<Row ParameterId="ComandantesSlider" Name="LOC_MAP_COMANDANTES_SLIDER" Description="LOC_MAP_COMANDANTES_SLIDER_DESC" Domain="ComandantesSlider" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="ComandantesSlider" GroupId="AdvancedOptions" Visible="1" SortIndex="327"/>
		
		<!-- SPAWN OPTIONS -->
		<Row ParameterId="ConvertCities" Name="LOC_MAP_CONVERT_CITIES" Description="LOC_MAP_CONVERT_CITIES_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="ConvertCities" GroupId="AdvancedOptions" Visible="1" SortIndex="330"/>
		
		<Row ParameterId="IgnoreGovernor" Name="LOC_MAP_IGNORE_GOVERNOR" Description="LOC_MAP_IGNORE_GOVERNOR_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="IgnoreGovernor" GroupId="AdvancedOptions" Visible="1" SortIndex="331"/>
		
		<Row ParameterId="OverrideSpawn" Name="LOC_MAP_OVERRIDE_SPAWN" Description="LOC_MAP_OVERRIDE_SPAWN_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="OverrideSpawn" GroupId="AdvancedOptions" Visible="1" SortIndex="331"/>
		
		<Row ParameterId="ConvertSpawnZones" Name="LOC_MAP_CONVERT_SPAWN_ZONES" Description="LOC_MAP_CONVERT_SPAWN_ZONES_DESC" Domain="SpawnZoneOptions" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="ConvertSpawnZones" GroupId="AdvancedOptions" Visible="1" SortIndex="331"/>
		
		<Row ParameterId="SpawnRange" Name="LOC_MAP_SPAWN_RANGE" Description="LOC_MAP_SPAWN_RANGE_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="SpawnRange" GroupId="AdvancedOptions" Visible="1" SortIndex="332"/>
		
		<Row ParameterId="PeacefulSpawns" Name="LOC_MAP_PEACEFUL_SPAWN" Description="LOC_MAP_PEACEFUL_SPAWN_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="PeacefulSpawns" GroupId="AdvancedOptions" Visible="1" SortIndex="332"/>
		
		<Row ParameterId="RestrictSpawnZone" Name="LOC_MAP_RESTRICT_SPAWN" Description="LOC_MAP_RESTRICT_SPAWN_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="RestrictSpawnZone" GroupId="AdvancedOptions" Visible="1" SortIndex="332"/>
		
		<Row ParameterId="UniqueSpawnZones" Name="LOC_MAP_UNIQUE_SPAWN" Description="LOC_MAP_UNIQUE_SPAWN_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="UniqueSpawnZones" GroupId="AdvancedOptions" Visible="1" SortIndex="332"/>
		
		<Row ParameterId="SpawnRangeSlider" Name="LOC_MAP_SPAWN_RANGE_SLIDER" Description="LOC_MAP_SPAWN_RANGE_SLIDER_DESC" Domain="SpawnRangeSlider" DefaultValue="10" ConfigurationGroup="Map" ConfigurationId="SpawnRangeSlider" GroupId="AdvancedOptions" Visible="1" SortIndex="333"/>
		
		<!-- RESTRICTED SPAWNS -->
		<!-- <Row Key1="Ruleset" Key2="RULESET_EXPANSION_2" ParameterId="HSD_RestrictedCivs" Name="LOC_HSD_RESTRICTED_CIVS_NAME" Description="LOC_HSD_RESTRICTED_CIVS_DESC" Domain="Players:Expansion2_Players" Hash="0" Array="1" ConfigurationGroup="Map" ConfigurationId="HSD_RestrictedCivs" GroupId="AdvancedOptions" UxHint="InvertSelection" SortIndex="334"/> -->
		
		<!-- GAME MODES -->
		<Row ParameterId="Colonization" Name="LOC_MAP_COLONIZATION" Description="LOC_MAP_COLONIZATION_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="Colonization" GroupId="AdvancedOptions" Visible="1" SortIndex="341"/>
		
		<Row ParameterId="LoyalHarbors" Name="LOC_MAP_LOYAL_HARBORS" Description="LOC_MAP_LOYAL_HARBORS_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="LoyalHarbors" GroupId="AdvancedOptions" Visible="1" SortIndex="342"/>
		
		<Row ParameterId="PlayerColonies" Name="LOC_MAP_COLONIZATION_PLAYER" Description="LOC_MAP_COLONIZATION_PLAYER_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="PlayerColonies" GroupId="AdvancedOptions" Visible="1" SortIndex="342"/>
		
		<Row ParameterId="SubtractEra" Name="LOC_MAP_LESSER_ERA" Description="LOC_MAP_LESSER_ERA_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="SubtractEra" GroupId="AdvancedOptions" Visible="1" SortIndex="343"/>
		
		<Row ParameterId="RagingBarbarians" Name="LOC_MAP_RAGING_BARBARIANS" Description="LOC_MAP_RAGING_BARBARIANS_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="RagingBarbarians" GroupId="AdvancedOptions" Visible="1" SortIndex="345"/>
		
		<!-- Legacy Support for Old Saves (set to hidden) -->
		<!-- <Row ParameterId="OldWorldStart" Name="LOC_MAP_OLD_WORLD_START" Description="" Domain="OldWorldStart" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="OldWorldStart" GroupId="AdvancedOptions" Visible="0" SortIndex="310"/> -->
	</Parameters>
	<Parameters>
		<!-- Headers and Footers -->
		<Row ParameterId="HSD_Header_Main" Name="LOC_MAP_HSD_HEADER_MAIN_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="HSD_Header_Main" GroupId="AdvancedOptions" Visible="1" ReadOnly="1" SortIndex="299"/>
		<Row ParameterId="HSD_Footer_Main" Name="LOC_MAP_HSD_FOOTER_MAIN_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="HSD_Footer_Main" GroupId="AdvancedOptions" Visible="1" ReadOnly="1" SortIndex="350"/>
		<!-- Sections -->
		<Row ParameterId="HSD_Base_Options" Name="LOC_MAP_HSD_HEADER_BASE_OPTIONS_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="HSD_Base_Options" GroupId="AdvancedOptions" Visible="1" ReadOnly="1" SortIndex="300"/>
		<Row ParameterId="HSD_Timeline_Options" Name="LOC_MAP_HSD_HEADER_TIMELINE_OPTIONS_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="HSD_Timeline_Options" GroupId="AdvancedOptions" Visible="1" ReadOnly="1" SortIndex="310"/>
		<Row ParameterId="HSD_Boost_Options" Name="LOC_MAP_HSD_HEADER_BOOST_OPTIONS_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="HSD_Boost_Options" GroupId="AdvancedOptions" Visible="1" ReadOnly="1" SortIndex="320"/>
		<Row ParameterId="HSD_Spawn_Options" Name="LOC_MAP_HSD_HEADER_SPAWN_OPTIONS_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="HSD_Spawn_Options" GroupId="AdvancedOptions" Visible="1" ReadOnly="1" SortIndex="330"/>
		<Row ParameterId="HSD_Game_Modes" Name="LOC_MAP_HSD_HEADER_GAME_MODES_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="HSD_Game_Modes" GroupId="AdvancedOptions" Visible="1" ReadOnly="1" SortIndex="340"/>
	</Parameters>
	<DomainValues>
		<!-- Legacy Support for Old Saves -->
		<!-- <Replace Domain="OldWorldStart" Value="0" 	Name="LOC_OLD_WORLD_START" 	Description="LOC_OLD_WORLD_START_DESC" 	SortIndex="10"/> -->
		<!-- <Replace Domain="OldWorldStart" Value="1" 	Name="LOC_NEW_WORLD_START" 	Description="LOC_NEW_WORLD_START_DESC" 	SortIndex="20"/> -->
		<!-- New Spawn Tables -->
		<Replace Domain="SpawnDateTables" Value="0" 	Name="LOC_HSD_STANDARD_NAME" 	Description="LOC_HSD_STANDARD_DESC" 	SortIndex="10"/>
		<Replace Domain="SpawnDateTables" Value="1" 	Name="LOC_HSD_TRUE_START_NAME" 	Description="LOC_HSD_TRUE_START_DESC" 	SortIndex="20"/>
		<Replace Domain="SpawnDateTables" Value="2" 	Name="LOC_HSD_LEADER_START_NAME" 	Description="LOC_HSD_LEADER_START_DESC" 	SortIndex="30"/>
		<Replace Domain="SpawnDateTables" Value="3" 	Name="LOC_HSD_ERA_START_NAME" 	Description="LOC_HSD_ERA_START_DESC" 	SortIndex="40"/>
		<!-- Spawn Zone Options -->
		<Replace Domain="SpawnZoneOptions" Value="0" 	Name="LOC_SPAWNZONE_CLASSIC_NAME" 	Description="LOC_SPAWNZONE_CLASSIC_DESC" 	SortIndex="10"/>
		<Replace Domain="SpawnZoneOptions" Value="1" 	Name="LOC_SPAWNZONE_ITERATIVE_NAME" 	Description="LOC_SPAWNZONE_ITERATIVE_DESC" 	SortIndex="20"/>
		<Replace Domain="SpawnZoneOptions" Value="2" 	Name="LOC_SPAWNZONE_ALL_NAME" 	Description="LOC_SPAWNZONE_ALL_DESC" 	SortIndex="30"/>
		<!-- Unit Spawn Types -->
		<Replace Domain="HSD_UnitLists" Value="0" 	Name="LOC_HSD_DYNAMIC_UNITS_NAME" 	Description="LOC_HSD_DYNAMIC_UNITS_DESC" 	SortIndex="10"/>
		<Replace Domain="HSD_UnitLists" Value="1" 	Name="LOC_HSD_STATIC_UNITS_NAME" 	Description="LOC_HSD_STATIC_UNITS_DESC" 	SortIndex="20"/>
	</DomainValues>	
	<DomainRanges>
		<Replace Domain="SpawnRangeSlider" 		MinimumValue="2" MaximumValue="20" />
		<Replace Domain="ComandantesSlider" 	MinimumValue="1" MaximumValue="7" />
	</DomainRanges>
	<ParameterDependencies>	
		<Row ParameterId="ForceTSL" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="NotEquals" ConfigurationValue="1"/>
		<Row ParameterId="HistoricalSpawnDates" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="BalanceHSD" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="GrantGPP" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="GrantGPP" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="TechCivicBoost" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="TechCivicBoost" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="TechCivicBoost" ConfigurationGroup="Map" ConfigurationId="HSD_AdvancedOptions" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="EraBuildingForAll" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="EraBuildingForAll" ConfigurationGroup="Map" ConfigurationId="HSD_AdvancedOptions" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="HistoricalSpawnEras" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="Colonization" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="Colonization" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_COLONIZATION" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="PlayerColonies" ConfigurationGroup="Map" ConfigurationId="Colonization" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="LoyalHarbors" ConfigurationGroup="Map" ConfigurationId="Colonization" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnUUs" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnUUs" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnUUs" ConfigurationGroup="Map" ConfigurationId="UnitList" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="FlipZones" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="FlipZones" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="FlipZones" ConfigurationGroup="Map" ConfigurationId="HSD_AdvancedOptions" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnRange" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnRange" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnRange" ConfigurationGroup="Map" ConfigurationId="HSD_AdvancedOptions" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnAge" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnAge" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnAge" ConfigurationGroup="Map" ConfigurationId="HSD_AdvancedOptions" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SubtractEra" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SubtractEra" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnRangeSlider" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnRangeSlider" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="SpawnRangeSlider" ConfigurationGroup="Map" ConfigurationId="HSD_AdvancedOptions" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="ConvertCities" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="ConvertCities" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="ConvertSpawnZones" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="ConvertSpawnZones" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="Comandantes" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="Comandantes" ConfigurationGroup="Map" ConfigurationId="BalanceHSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="ComandantesSlider" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="RagingBarbarians" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="RagingBarbarians" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_RAGING_BARBARIANS" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="PeacefulSpawns" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="RestrictSpawnZone" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="UniqueSpawnZones" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="IgnoreGovernor" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="IgnoreGovernor" ConfigurationGroup="Map" ConfigurationId="ConvertCities" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="IgnoreGovernor" ConfigurationGroup="Map" ConfigurationId="HSD_AdvancedOptions" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="OverrideSpawn" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="OverrideSpawn" ConfigurationGroup="Map" ConfigurationId="ConvertCities" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="OverrideSpawn" ConfigurationGroup="Map" ConfigurationId="HSD_AdvancedOptions" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="UnitList" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="InputHSD" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="HSD_AdvancedOptions" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="HSD_Header_Main" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="HSD_Footer_Main" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="HSD_Base_Options" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="HSD_Timeline_Options" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="HSD_Boost_Options" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="HSD_Spawn_Options" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="HSD_Game_Modes" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<!-- New Spawn Tables -->
		<Row ParameterId="SpawnDateTables" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<Row ParameterId="LiteMode" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/>
		<!-- Legacy Support for Old Saves -->
		<!-- <Row ParameterId="OldWorldStart" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_HSD" Operator="Equals" ConfigurationValue="1"/> -->
		<!-- <Row ParameterId="OldWorldStart" ConfigurationGroup="Map" ConfigurationId="HistoricalSpawnEras" Operator="NotEquals" ConfigurationValue="1"/> -->
	</ParameterDependencies>
	<ParameterCriteria>
		<Row ParameterId="GameMode_RAGING_BARBARIANS" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_BARBARIAN_CLANS" Operator="NotEquals" ConfigurationValue="1" />
	</ParameterCriteria>
	<DomainValueQueries>
		<!-- <Row QueryId="HSD_RestrictedCivs"/> -->
	</DomainValueQueries>
	<Queries>
		<!-- <Row QueryId="HSD_RestrictedCivs" SQL="SELECT Domain, LeaderName AS Name, LeaderAbilityDescription AS Description, LeaderType AS Value, coalesce(SortIndex,100) AS SortIndex FROM Players"/> -->
	</Queries>
	<ConfigurationUpdates>
		<Row SourceGroup="Map" SourceId="SpawnDateTables" SourceValue="3" TargetGroup="Map" TargetId="HistoricalSpawnEras" TargetValue="1" Static="1"/>
		<Row SourceGroup="Map" SourceId="OverrideSpawn" SourceValue="1" TargetGroup="Map" TargetId="IgnoreGovernor" TargetValue="1" Static="1"/>
		<Row SourceGroup="Game" SourceId="GAMEMODE_COLONIZATION" SourceValue="1" TargetGroup="Game" TargetId="GAMEMODE_HSD" TargetValue="1" Static="1"/>
		<Row SourceGroup="Game" SourceId="GAMEMODE_COLONIZATION" SourceValue="1" TargetGroup="Map" TargetId="Colonization" TargetValue="1" Static="1"/>
		<Row SourceGroup="Game" SourceId="GAMEMODE_RAGING_BARBARIANS" SourceValue="1" TargetGroup="Game" TargetId="GAMEMODE_HSD" TargetValue="1" Static="1"/>
		<Row SourceGroup="Game" SourceId="GAMEMODE_RAGING_BARBARIANS" SourceValue="1" TargetGroup="Game" TargetId="GAMEMODE_HSD" TargetValue="1" Static="1"/>
		<Row SourceGroup="Game" SourceId="GAMEMODE_RAGING_BARBARIANS" SourceValue="1" TargetGroup="Map" TargetId="RagingBarbarians" TargetValue="1" Static="1"/>
	</ConfigurationUpdates>
	<GameModeItems>
		<Row GameModeType="GAMEMODE_HSD" Name="LOC_GAMEMODE_HSD_NAME" Description="LOC_GAMEMODE_HSD_DESCRIPTION" Portrait="HSD_Portrait.dds" Background="HSD_Background.dds" Icon="ICON_GAMEMODE_HSD" SortIndex="20" UnitIcon="ICON_GAMEMODE_HSD_PLAYERITEM" UnitDescription="LOC_GAMEMODE_HSD_TIMELINE_DESCRIPTION" UnitName="LOC_GAMEMODE_HSD_TIMELINE_NAME"/>
		<Row GameModeType="GAMEMODE_COLONIZATION" Name="LOC_GAMEMODE_COLONIZATION_NAME" Description="LOC_GAMEMODE_COLONIZATION_DESCRIPTION" Portrait="ColonizationMode_Portrait.dds" Background="ColonizationMode_Background.dds" Icon="ICON_GAMEMODE_COLONIZATION" SortIndex="20" UnitIcon="ICON_GAMEMODE_COLONIZATION_LOYALHARBORS" UnitDescription="LOC_MAP_LOYAL_HARBORS_DESC" UnitName="LOC_MAP_LOYAL_HARBORS" />
		<Row GameModeType="GAMEMODE_RAGING_BARBARIANS" Name="LOC_GAMEMODE_RAGING_BARBARIANS_NAME" Description="LOC_GAMEMODE_RAGING_BARBARIANS_DESCRIPTION" Portrait="RagingBarbarians_Portrait.dds" Background="RagingBarbarians_Background.dds" Icon="ICON_GAMEMODE_RAGING_BARBARIANS" SortIndex="20" UnitIcon="ICON_GAMEMODE_RAGING_BARBARIANS_INVASIONS" UnitDescription="LOC_HSD_INVASIONS_DESCRIPTION" UnitName="LOC_HSD_INVASIONS_NAME" />
	</GameModeItems>
	<!--Mode-based Player Overrides-->
	<PlayerItemOverrideQueries>
		<Row QueryId="HSD_PlayerItemOverrides_Standard"/>
		<Row QueryId="HSD_PlayerItemOverrides_TrueHSD"/>
		<Row QueryId="HSD_PlayerItemOverrides_LeaderHSD"/>
		<Row QueryId="HSD_PlayerItemOverrides_EraStart"/>
	</PlayerItemOverrideQueries>
	<Queries>
		<Row QueryId="HSD_PlayerItemOverrides_Standard" SQL="SELECT * FROM GameModePlayerItemOverrides WHERE GameModeType = 'GAMEMODE_HSD' AND Type = 'HSD_STANDARD'"/>
		<Row QueryId="HSD_PlayerItemOverrides_TrueHSD" SQL="SELECT * FROM GameModePlayerItemOverrides WHERE GameModeType = 'GAMEMODE_HSD' AND Type = 'HSD_TRUESTART'"/>
		<Row QueryId="HSD_PlayerItemOverrides_LeaderHSD" SQL="SELECT * FROM GameModePlayerItemOverrides WHERE GameModeType = 'GAMEMODE_HSD' AND Type = 'HSD_LEADER'"/>
		<Row QueryId="HSD_PlayerItemOverrides_EraStart" SQL="SELECT * FROM GameModePlayerItemOverrides WHERE GameModeType = 'GAMEMODE_HSD' AND Type = 'HSD_ERASTART'"/>
	</Queries>
	<QueryCriteria>
		<Row QueryId="HSD_PlayerItemOverrides_Standard" ConfigurationGroup="Map" ConfigurationId="SpawnDateTables" Operator="Equals" ConfigurationValue="0"/>
		<Row QueryId="HSD_PlayerItemOverrides_TrueHSD" ConfigurationGroup="Map" ConfigurationId="SpawnDateTables" Operator="Equals" ConfigurationValue="1"/>
		<Row QueryId="HSD_PlayerItemOverrides_LeaderHSD" ConfigurationGroup="Map" ConfigurationId="SpawnDateTables" Operator="Equals" ConfigurationValue="2"/>
		<Row QueryId="HSD_PlayerItemOverrides_EraStart" ConfigurationGroup="Map" ConfigurationId="SpawnDateTables" Operator="Equals" ConfigurationValue="3"/>
	</QueryCriteria>
</GameInfo>